<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=keywords content=vue-cms-后台管理系统>
    <meta name=description content=vue-cms-后台管理系统>
    <meta name=referrer content=no-referrer>
    <title>108图书交易管理系统</title>
    	<link rel='icon' th:href='@{/ico/bitbug_favicon.ico(1)}' type='image/x-ico' />
<!--     <style>
        @font-face {
            font-family: 'digital';
            src: url('./static/assets/fonts/DS-Digital Bold.ttf');
        }
    </style> -->
    <link th:href=@{/css/app.d216ffc2f0ec064a0a93cf2e33986e70.css} rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/js/manifest.5adc2c1996b0640aece1.js></script>
    <script type=text/javascript src=/js/vendor.357d8cc2e6fce99d62a7.js></script>
    <script type=text/javascript src=/js/app.066c024fbbdad4224998.js></script>
</body>

</html>